<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Estilos/estilos.css">
    <title>Calculadora de IMC</title>
</head>
<body>
    <div class="container">
        <h1>Calculadora de IMC</h1>
        <form id="formularioIMC">
            <input type="number" id="peso" placeholder="Peso (kg)" required>
            <input type="number" step="0.01" id="altura" placeholder="Altura (m)" required>
            <button type="button" id="calcular">Calcular</button>
        </form>
        <div id="resultado"></div>
    </div>

    <script src="../Js/app.js"></script>
</body>
</html>